.auth-card {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  width: 100%;
  max-width: 700px;                
  border-top: 2px solid #E5E7EB;  
  border-bottom: 2px solid #E5E7EB;
  box-sizing: border-box;
}
